# Ex1 - Filtering and Sorting Data

This time we are going to pull data directly from the internet.
Special thanks to: https://github.com/justmarkham for sharing the dataset and materials.

### Step 1. Import the necessary libraries

In [173]:
import numpy as nd
import pandas as pd

### Step 2. Import the dataset from this [address](https://raw.githubusercontent.com/justmarkham/DAT8/master/data/chipotle.tsv).

### Step 3. Assign it to a variable called chipo.

In [174]:
chipo = pd.read_csv("https://raw.githubusercontent.com/justmarkham/DAT8/master/data/chipotle.tsv", sep='\t')

### Step 4. How many products cost more than $10.00?

In [175]:
#clean the item_price column and transform it in a float
chipo['item_price'] = chipo['item_price'].astype(str)
chipo['item_price'] = chipo['item_price'].str.replace('$','')
# reassign the column with the cleaned prices
chipo['item_price'] = pd.to_numeric(chipo['item_price'])
# delete the duplicates in item_name and quantity
chipo_filtered = chipo.drop_duplicates(['item_name','quantity'])
# select only the products with quantity equals to 1
chipo_filtered[chipo_filtered.quantity == 1]

chipo.query('item_price > 10').item_name.nunique()

C:\Users\dottz\AppData\Local\Temp\ipykernel_23140\705491931.py:3: FutureWarning: The default value of regex will change from True to False in a future version. In addition, single character regular expressions will *not* be treated as literal strings when regex=True.
  chipo['item_price'] = chipo['item_price'].str.replace('$','')

31

### Step 5. What is the price of each item? 
###### print a data frame with only two columns item_name and item_price

In [176]:
# delete the duplicates in item_name and quantity
chipo_duplicate = chipo.drop_duplicates(subset =("item_name", "quantity"),keep = False)

# select only the products with quantity equals to 1
chipo_quantity = chipo_duplicate.loc[chipo_duplicate["quantity"] == 1]

# select only the item_name and item_price columns
selecte_chipo = chipo_quantity[['item_name','item_price']]

#sort the values from the most to less expensivech
selecte_chipo.sort_values("item_name", ascending=False)

                              item_name  item_price
1653                Veggie Crispy Tacos        8.49
674   Chips and Mild Fresh Tomato Salsa        3.00
3750                     Carnitas Salad        8.99
673                                Bowl        7.40

### Step 6. Sort by the name of the item

In [177]:
chipo.sort_values("item_name")

,order_id,quantity,item_name,choice_description,item_price
3389,1360,2,6 Pack Soft Drink,[Diet Coke],12.98
341,148,1,6 Pack Soft Drink,[Diet Coke],6.49
1849,749,1,6 Pack Soft Drink,[Coke],6.49
1860,754,1,6 Pack Soft Drink,[Diet Coke],6.49
2713,1076,1,6 Pack Soft Drink,[Coke],6.49
...,...,...,...,...,...
2384,948,1,Veggie Soft Tacos,"[Roasted Chili Corn Salsa, [Fajita Vegetables,...",8.75
781,322,1,Veggie Soft Tacos,"[Fresh Tomato Salsa, [Black Beans, Cheese, Sou...",8.75
2851,1132,1,Veggie Soft Tacos,"[Roasted Chili Corn Salsa (Medium), [Black Bea...",8.49
1699,688,1,Veggie Soft Tacos,"[Fresh Tomato Salsa, [Fajita Vegetables, Rice,...",11.25
1395,567,1,Veggie Soft Tacos,"[Fresh Tomato Salsa (Mild), [Pinto Beans, Rice...",8.49

### Step 7. What was the quantity of the most expensive item ordered?

In [178]:
max_price = chipo['item_price'].max()
chipo.loc[(chipo["item_price"]==max_price),:]

,order_id,quantity,item_name,choice_description,item_price
3598,1443,15,Chips and Fresh Tomato Salsa,NaN,44.25

### Step 8. How many times was a Veggie Salad Bowl ordered?

In [179]:
chipo.loc[chipo['item_name']=='Veggie Salad Bowl',:]['quantity'].count()

18

### Step 9. How many times did someone order more than one Canned Soda?

In [181]:
canned_soda = chipo.loc[chipo['item_name']=='Canned Soda',:]
canned_soda.loc[canned_soda['quantity'] > 1,'quantity'].count()

20