# Alcohol counter

### Introduction:

It is all about drinks and indexs.


### Step 1. Import the necessary libraries

In [47]:
import pandas as pd
import numpy as np

### Step 2. Import the dataset from this [address](http://bit.ly/drinksbycountry).

### Step 3. Assign it to a variable called drinks

In [48]:
drinks = pd.read_csv("https://raw.githubusercontent.com/justmarkham/pandas-videos/master/data/drinks.csv")

### Step 4. Print the first 5 rows of the dataframe

In [49]:
drinks.head(5)

,country,beer_servings,spirit_servings,wine_servings,total_litres_of_pure_alcohol,continent
0,Afghanistan,0,0,0,0.0,Asia
1,Albania,89,132,54,4.9,Europe
2,Algeria,25,0,14,0.7,Africa
3,Andorra,245,138,312,12.4,Europe
4,Angola,217,57,45,5.9,Africa

### Step 5. Return the index

In [50]:
drinks.index

RangeIndex(start=0, stop=193, step=1)

### Step 6. Identify what rows you are working with

In [51]:
drinks.head

<bound method NDFrame.head of          country  beer_servings  spirit_servings  wine_servings  \
0    Afghanistan              0                0              0
1        Albania             89              132             54
2        Algeria             25                0             14
3        Andorra            245              138            312
4         Angola            217               57             45
..           ...            ...              ...            ...
188    Venezuela            333              100              3
189      Vietnam            111                2              1
190        Yemen              6                0              0
191       Zambia             32               19              4
192     Zimbabwe             64               18              4

     total_litres_of_pure_alcohol      continent
0                             0.0           Asia
1                             4.9         Europe
2                             0.7         Africa
3                            12.4         Europe
4                             5.9         Africa
..                            ...            ...
188                           7.7  South America
189                           2.0           Asia
190                           0.1           Asia
191                           2.5         Africa
192                           4.7         Africa

[193 rows x 6 columns]>

### Step 7. Use .loc method to retrieve an element/cell

In [52]:
#drinks.iat[3,1]
drinks.loc[3][1]

245

### Step 8. Use .iloc method to retrieve an element/cell

In [53]:
drinks.iloc[2:5]

,country,beer_servings,spirit_servings,wine_servings,total_litres_of_pure_alcohol,continent
2,Algeria,25,0,14,0.7,Africa
3,Andorra,245,138,312,12.4,Europe
4,Angola,217,57,45,5.9,Africa

### Step 9. Set the index to 'country'

In [54]:
drinks.set_index("country", inplace = True)
drinks.head()

,beer_servings,spirit_servings,wine_servings,total_litres_of_pure_alcohol,continent
country,,,,,
Afghanistan,0,0,0,0.0,Asia
Albania,89,132,54,4.9,Europe
Algeria,25,0,14,0.7,Africa
Andorra,245,138,312,12.4,Europe
Angola,217,57,45,5.9,Africa

### Step 10. Set a more complex index

In [55]:
#drinks.reset_index
drinks.loc[["Greece"],"beer_servings"]
print(more_complex)

67    133
Name: beer_servings, dtype: int64

### Step 11. Clear index name

In [60]:
drinks.rename_axis(None, axis = 0)

,beer_servings,spirit_servings,wine_servings,total_litres_of_pure_alcohol,continent
Afghanistan,0,0,0,0.0,Asia
Albania,89,132,54,4.9,Europe
Algeria,25,0,14,0.7,Africa
Andorra,245,138,312,12.4,Europe
Angola,217,57,45,5.9,Africa
...,...,...,...,...,...
Venezuela,333,100,3,7.7,South America
Vietnam,111,2,1,2.0,Asia
Yemen,6,0,0,0.1,Asia
Zambia,32,19,4,2.5,Africa
Zimbabwe,64,18,4,4.7,Africa

### Step 12. Reset index name

In [62]:
drinks.reset_index(inplace=True)
drinks

,index,country,beer_servings,spirit_servings,wine_servings,total_litres_of_pure_alcohol,continent
0,0,Afghanistan,0,0,0,0.0,Asia
1,1,Albania,89,132,54,4.9,Europe
2,2,Algeria,25,0,14,0.7,Africa
3,3,Andorra,245,138,312,12.4,Europe
4,4,Angola,217,57,45,5.9,Africa
...,...,...,...,...,...,...,...
188,188,Venezuela,333,100,3,7.7,South America
189,189,Vietnam,111,2,1,2.0,Asia
190,190,Yemen,6,0,0,0.1,Asia
191,191,Zambia,32,19,4,2.5,Africa
192,192,Zimbabwe,64,18,4,4.7,Africa

### Step 13. Use the index to select values from series

### Step 14. Sort based on values in the Series

### Bonus: Reindex to Align with Other Objects